force-app/main/default/flows/GB_MaternityExtensionFlow.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>getPrompt</name>
        <label>getPrompt</label>
        <locationX>176</locationX>
        <locationY>242</locationY>
        <actionName>GB_MaternityExtender</actionName>
        <actionType>generatePromptResponse</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>Input:leave</name>
            <value>
                <elementReference>leave</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>Input:input</name>
            <value>
                <elementReference>utterance</elementReference>
            </value>
        </inputParameters>
        <nameSegment>GB_MaternityExtender</nameSegment>
        <offset>0</offset>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <apiVersion>63.0</apiVersion>
    <environments>Default</environments>
    <interviewLabel>GB_MaternityExtensionFlow {!$Flow.CurrentDateTime}</interviewLabel>
    <label>GB_MaternityExtensionFlow</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>getleave</name>
        <label>getleave</label>
        <locationX>176</locationX>
        <locationY>134</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>getPrompt</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Emp__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>003Kc00000A7ChOIAV</stringValue>
            </value>
        </filters>
        <object>Leave_of_Absense__c</object>
        <outputReference>leave</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>Start_Date__c</queriedFields>
    </recordLookups>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>getleave</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>leave</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Leave_of_Absense__c</objectType>
    </variables>
    <variables>
        <name>response</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>utterance</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
